//- Homepage Markup
extends layouts/base

block content
	main.site-container.row
		h1.site-title.text-center=site_title
		.search-wrapper.citu-wrapper
			.search-wrapper-target.citu-target.row
				form.search-field.medium-5.small-centered.columns
					.row.collapse
						-var search_accessibility=get_data_test?'disabled':undefined
						.small-8.columns
							input(disabled=search_accessibility type='search' placeholder=get_data(data['description-short'], '{{description-short}}') autofocus)
						.small-4.columns
							button.js-search-submit.postfix(disabled=search_accessibility type='button')=get_data(data.l10n['input-submit'], '{{l10n.input-submit}}')
				p.site-description.medium-5.large-5.small-centered.columns=site_description
				p
					=data.l10n['for-example']
					-var limit=3
					-for(var i=0; i<limit; ++i)
						a(href=default_url data-id=i).js-search-suggestion=data.testdata[i].query
						//-span=testdata.length
						if i<limit-2
							=', '
						if i==limit-2
							=' или '
		.js-results-spawn.results-wrapper
	footer.site-footer.row
		.small-12.columns.text-right
			if get_data_test
				include:md data/footer.md
			else
				| {{footer}}
append scripts
	script.
		var spawnpoint=$('.js-results-spawn');
	if get_data_test
		script.
			search_spawn=function(key){
				spawnpoint.jQCloud(eval('testdata'+key));
			};
		-for(var i=0; i<3; ++i)
			-var dataitem=data.testdata[i]
			-var array_id='testdata'+i
			script.
				var #{array_id}_query='#{dataitem.query}';
				var #{array_id}=[];
			each item in dataitem.data
				script.
					#{array_id}.push({
						text: '#{item.title}',
						weight: '#{item.weight}',
						source: '#{item.source}'
					});
	else
		script.
			search_spawn=function(array){
				spawnpoint.jQCloud(array);
			};
