//- Homepage Markup
extends layouts/base

block content
	main.site-container.row
		h1.site-title.text-center=site_title
		.search-wrapper.citu-wrapper
			.search-wrapper-target.citu-target.row
				form.search-field.medium-5.small-centered.columns
					.row.collapse
						-var search_accessibility=get_data_test?'disabled':undefined
						.small-8.columns
							input(disabled=search_accessibility type='search' placeholder=get_data(data['description-short'], '{{descriptionshort}}') autofocus)
						.small-4.columns
							button.js-search-submit.postfix(disabled=search_accessibility type='button')=get_data(data.l10n['input-submit'], '{{buttonText}}')
				p.site-description.medium-5.large-5.small-centered.columns=site_description
				p
			=get_data(data.l10n['for-example'], '{{forExample}}')
				-var limit=3
				-for(var i=0; i<limit; ++i)
					-var query=data.testdata[i].query
					a(href=default_url data-query=get_data(i, query)).js-search-suggestion=query
					//-span=testdata.length
					if i < limit - 2
						=', '
					if i == limit - 2
						=get_data(data.l10n.or, ' или ')
		.js-results-spawn.results-wrapper
	footer.site-footer.row
		.small-12.columns.text-right
			if get_data_test
				include:md data/footer.md
			else
				| {{footer}}
append scripts
	script.
		var search_input=$('.search-wrapper-target').find('input');
		var spawnpoint = $('.js-results-spawn');
		var jQCloud_settings = {
			classPattern: 'w{n} results-item js-results-item',
			autoResize: true
		};
		var search_submit_helper = function (el) {
			search_input.val(el.html());
		};
	if get_data_test
		script.
			search_spawn = function (key) {
				spawnpoint.jQCloud(eval('testdata' + key), jQCloud_settings);
			};
			var jQCloud_handler = function (el) {
				el = $(this);
				search_submit_helper(el);
				search_submit(el.html());
			};
		-for(var i=0; i<3; ++i)
			-var dataitem=data.testdata[i]
			-var array_id='testdata'+i
			script.
				var #{array_id}_query = '#{dataitem.query}';
				var #{array_id}= [];
			each item in dataitem.data
				script.
					#{array_id}.push({
						text: '#{item.title}',
						weight: '#{item.weight}',
						source: '#{item.source}'
					});
	else
		script.
			search_spawn = function (query) {
				var address_canonical = 'http://82.146.42.87:5000/';
				//var address_canonical = 'http://google.com/';
				var address;
				if (document.URL !== address_canonical) {
					address = address_canonical;
				}
				else {
					address = document.URL;
				}

				var server_query_prefix = address + 'search?q=';

				$.get(decodeURI(server_query_prefix + query),
					function (data) {
						var query_data = JSON.parse(data).data;
						console.log(query_data);
						spawnpoint.jQCloud(query_data);
					}
				);
